# Hides the env file
.env

# Ignore the database file (kept as a backup)
public/assets/db.json

# Ignore the node_js_files folder - it holds the previous version of the
# project that was written with Node.js
node_js_files/