:root{
    --main-padding: 8px;
    --main-radius: 5px;
    --fill-screen-height: 80vh;
    --partial-fill-height: 60vh;
    --option-height: 40vh;

    --section-width: 150vh;

    /*  main colors */

    /* Green */
    --pale-green: #E0FFCD;
    --light-green: #BCEF9C;
    --green: #9FE870;
    --bright-green: #6DDC25;
    --dark-green: #376A15;
    --dark-green-text: #1C3709;

    /* Yellow */
    --pale-yellow: #FBFFBB;
    --light-yellow: #F8FD89;
    --yellow: #FFEA64;
    --bright-yellow: #FFE228;
    --dark-yellow: #7E6F0B;
    --dark-yellow-text: #423904;

    /* Orange */
    --pale-orange: #FFE894;
    --light-orange: #FFC342;
    --orange: #FFAE17;
    --bright-orange: #EA9902;
    --dark-orange: #7D560B;
    --dark-orange-text: #483004;

    /* Misc */
    --ivory-white: #FEFDEE;
    --error-red: #F43131;
}

body{
    font-family: "Outfit", "Times New Roman";

    /* fixes white border issue */
    margin: 0;
    padding: 0;

    background-color: var(--ivory-white);
}
 
/* Grid container for the main structure */
#adminPage{
    display: grid;
    height: 100vh;

    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: auto auto auto;
    /* 0.5fr 0.5fr 1.5fr 1.5fr 1.5fr 0.5fr */
    /* auto auto auto auto 1fr auto */

    grid-template-areas:
    "header header"
    "banner banner"
    "leftPanel showAll"
    "footer footer"
    ;

    background-color: var(--ivory-white);
}

#leftPanel{
    grid-area: leftPanel;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


header{
    grid-area: header;
}

nav{
    background-color: var(--dark-green-text);
    padding: var(--main-padding);
}

#adminWelcome{
    grid-area: banner;
    padding: 0% 1% 0% 2%;

    background-color: var(--green);
    color: var(--dark-green-text);

}

#addNew{
    grid-area: addNew;
    height: auto;

    padding: 2% 2%;

}

#updateExisting{
    grid-area: update;
    height: auto;

    padding: 0% 2%;
}

#deleteProduct{
    grid-area: delete;
    height: auto;

    padding: 2% 2%;
}

#showAll{
    grid-area: showAll;
    height: auto;
    
    padding: 2% 2%;

}

footer{
    grid-area: footer;

    color: var(--dark-yellow-text);
    background-color: var(--bright-yellow);
    padding: var(--main-padding);
    gap: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



/* Grid area for nav bar */
#navContainer{
    display: grid;
    gap: 5rem;
    
    grid-template-columns: 0.8fr, 1.2fr;
    grid-template-rows: 0.8fr;

    grid-template-areas: 
    "brandName navButton"
    ;

}

/* Flex styles for nav bar */
#navBrandName{
    grid-area: brandName;
    gap: 1rem;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    color: var(--light-green);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#brandImage{
    width: 60px;
    height: 60px;
}

#navButton{
    grid-area: navButton;
    gap: 3rem;

    border-radius: var(--main-radius);
    padding: var(--main-padding);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


hr{
    border: 3px solid;
    border-radius: 3px;
    width: auto;
}



.formContainer{
    margin: 10px;
    padding: 0% 1% 0% 5%;
    width: auto;

    border-radius: 5px;
}


/* flex styles for the add new section */
#addNewContainer{
    padding: 1% 1% 0% 5%;
    background-color: var(--light-yellow);
    border: 3px solid var(--light-yellow);

    color: var(--dark-yellow-text);

}

#addProductTitle{
    display: flex;

    align-items: center;
    color: var(--dark-yellow-text);
}

#addProductTitle hr{
    float: right;
    width: 60%;
    border: 3px solid var(--dark-yellow-text);
}



/* flex styles for the update section */
#updateExistingContainer{
    background-color: var(--light-green);
    border: 3px solid var(--light-green);

    color: var(--dark-green-text);
}

#updateProductTitle{
    display: flex;

    align-items: center;
    color: var(--dark-green-text);
}

#updateProductTitle hr{
    float: right;
    width: 60%;
    border: 3px solid var(--dark-green-text);
}



/* flex styles for the delete section */
#deleteProductContainer{
    background-color: var(--light-orange);
    border: 3px solid var(--light-orange);

    color: var(--dark-orange-text);
}

#deleteProductTitle{
    display: flex;

    align-items: center;
    color: var(--dark-orange-text);
}

#deleteProductTitle hr{
    float: right;
    width: 60%;
    border: 3px solid var(--dark-orange-text);
}



/* flex styles for the show all section */
#showAllContainer{
    margin: 10px;
    padding: 1% 1% 1% 5%;
    width: auto;
    height: auto;

    background-color: var(--pale-green); 
    border: 3px solid var(--pale-green);  
    border-radius: 5px;

    color: var(--dark-green-text);
}

#showAllTitle{
    display: flex;

    align-items: center;
    color: var(--dark-green-text);
}

#showAllTitle hr{
    float: right;
    width: 65%;
    border: 3px solid var(--dark-green-text);
}



#allProductData{
    display: flex;
    align-items: flex-start;
}


.productList{
    color: var(--dark-green-text);
    font-size: medium;

    display: flex;
    flex-direction: column;
    height: auto;

}


.productData{
    margin: 2% 2%;
    padding: 1% -2% 1% 0%;
    background-color: var(--green);

    border: 20px solid var(--green);
    border-radius: 8px;
}

.dotStyle{
    list-style-position: inside;
}



/* Input box styling */

input{
    width: 40%;
    padding: 1% 1%;
    margin: 5px;

    border: 1px solid;
    border-radius: 5px;

    font-size: medium;

}

.packageDropdown{
    width: 40%;
    padding: 1% 1%;
    margin: 5px;

    border: 1px solid;
    border-radius: 5px;

    font-size: medium;
}

option{
    width: 40%;
    padding: 1% 1%;
}


input[type="checkbox"] {
  accent-color: #2196F3; 
  width: 20px;         
  height: 20px;
}


.wideInputBox{
    width: 80%;
    margin: 5px;

}


.checkBoxLeveling{
    display: flex;
    flex-direction: row;
    align-items: center;
}




/* Button styling */

button{
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
}


.btnPlainGreen{
    background-color: var(--bright-green);
    border-color: var(--bright-green);
    color: var(--dark-green-text);
    height: 60px;
    width: 150px;

    font-size: 25px;
}

.btnPlainGreen:hover{
    background-color: var(--green);
    border-color: var(--green);
}

.btnPlainDarkGreen{
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: var(--bright-green);
    height: 60px;
    width: 150px;

    font-size: 25px;
}

.btnPlainDarkGreen:hover{
    background-color: var(--dark-green-text);
    border-color: var(--dark-green-text);
}

.btnPlainYellow{
    background-color: var(--bright-yellow);
    border-color: var(--bright-yellow);
    color: var(--dark-yellow-text);
    height: 60px;
    width: 160px;

    font-size: 25px;
}

.btnPlainYellow:hover{
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btnPlainOrange{
    background-color: var(--bright-orange);
    border-color: var(--bright-orange);
    color: var(--dark-orange-text);
    height: 60px;
    width: 160px;

    font-size: 25px;
}

.btnPlainOrange:hover{
    background-color: var(--orange);
    border-color: var(--orange);
}

.formBtn{
    height: auto;
    width: auto;

    padding: 1% 2%;

    font-size: 20px;
}



.visible{
    display: flex !important;
}